.section {
    background-color: var(--mainColor);
    border: 1px solid var(--secondColor);
    width: 480px;
    box-shadow: 0px 0px 5px 0px var(--secondColor);
 }

 .img {
    margin-left: 40px ;
 }

 .btn {
    margin-right: -100px !important;
 }

 @media (min-width: 765px) {
   .section {
      width: 1347px;
   }

   .btn {
      margin-right: -1030px !important;
   }
 }